/*haal de opmaak van de site weg*/
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #121212;
  font-size: 1em;
  font-family: Helvetica Neue;
  color: #f4f4f4;
}

nav {
  background-color: #272727;
  overflow: auto;
  white-space: nowrap;
}

::-webkit-scrollbar {
  display: none;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-size: 14px;
}

li a {
  display: inline-block;
  color: white;
  background-color: #d483ff;
  text-align: center;
  padding: 1em 1.5em;
  margin: 0.7em 0em 0.7em 1em;
  text-decoration: none;
  border-radius: 0.3em;
}

main {
  /* maak van main een grid container */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
  padding: 1em 1em;
  border-radius: 1em;
}

img {
  width: 100%;
  padding: 0em;
  border-radius: 1em 1em 0em 0em;
}

article {
  background-color: #272727;
  border-radius: 1em;
}

.text {
  padding: 0.5em 1em 1em;
}

.title {
  display: flex;
  padding: 1rem 1.5em 0rem 1.5em;
  justify-content: space-between;
}

h2 {
  padding-bottom: 0.2em;
}

h4 {
  color: #d483ff;
  text-decoration: underline;
}

p {
  line-height: 1.5em;
}

button {
  color: white;
  background-color: #d483ff;
  text-align: center;
  padding: 1em 1.5em;
  margin: 1em;
  text-decoration: none;
  border-radius: 0.5em;
  border-style: none;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: white;
}

li a:hover {
  background-color: purple;
}

button:hover {
  background-color: purple;
}

main.productpage {
  /* maak van main een grid container */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: ;
  border-radius: 1em;
}

.productpage img {
  border-radius: 1em;
}

iframe {
  width: 100%;
  height: 100%;
  border: 0px;
  border-radius: 1em;
}

@media only screen and (max-width: 375px) {
  nav {
    background-color: #272727;
    overflow: auto;
    white-space: nowrap;
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 14px;
    /* justify-content: space-around; */
  }

  li a {
    display: inline-block;
    color: white;
    background-color: #d483ff;
    text-align: center;
    padding: 1em 1.5em;
    margin: 0.7em 0em 0.7em 0.5em;
    text-decoration: none;
    border-radius: 0.3em;
  }

  li a:active {
    background-color: red;
  }

  main {
    padding: 0em 0em 1em 0em;
  }
}
